.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}
.blogText {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}
.blogContent{
    padding: 0px 70px 0px 70px;
}
.blogButton{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 0px;
    float:right;
    display:none;
    cursor:pointer;
}

#editBtn,#likeBtn,#commentBtn{
    display:block;
}

#likeBtn,#commentBtn{
    background-color:red;
    float: unset;
}

#commentText{
    height: 70px;
    width: 60%;
}
#allComments{
    padding:20px;
    background-color: lightgray;
    width:60%;
}
.commentStyle{
    height: 65px;
    background-color: white;
    color: black;
    margin-bottom: 10px;
    line-height: 70px;
    padding: 5px;
}
.commentStyle:last-child {
    margin-bottom:0;
}
.pseudolink {
    color: blue;
    cursor: pointer;
}
.new-member {
    text-align: center;
    font-family: create-post-title-font;
    font-weight: bold;
}
/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */
